/* basic styles */

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 40vh;
  background-color: rgb(183, 217, 255);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

#box {
  height: 100%;
  z-index: 40;
  width: calc(100% / 40);
}

#box:hover {
  background-color: rgb(255, 255, 255) !important;
}

#box::before {
  position: absolute;
  height: 5vw;
  width: 10vw;
  top: 10px;
  left: 10px;
  z-index: 50;
  background-color: rgb(255, 255, 255);
}

@keyframes move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100vw);
  }
}